*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Merriweather', serif;
}

/* body{
   position: relative;
   background-image: url("../image/background.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
} */

#background{
   background-repeat: no-repeat; 
   background-size: cover; 
   background-position: center;
   max-height: auto;
}

.btn-light:hover{
   background-color: rgb(49, 49, 48);
   color: white;
}

/* Account */

.btn-account{
   transition-duration: 1s;
   transform: scale(1.0);
}

.btn-account:hover {
   transition: 1s ease-in-out;
   transition-duration: 1s;
   border: 2px solid blue;
 }

/* Logo */
#logo{
   height: 30px;
}