* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;
}

/* body{
   position: relative;
   background-image: url("../image/background.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
} */

#background{
   background-image: url("../image/background1.jpg");
   background-repeat: no-repeat; 
   background-size: cover; 
   background-position: center center;
   height: 100vh;
}

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
 .navbar:not(.top-nav-collapse) {
  background: #78909c !important;
 }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}


/* Logo */
#logo{
   height: 25px;
}